parameters:
	ignoreErrors:
		-
			rawMessage: Cannot access offset 'form' on mixed.
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: Classes/DataProcessing/ProcessFormProcessor.php

		-
			rawMessage: 'Argument of an invalid type mixed supplied for foreach, only iterables are supported.'
			identifier: foreach.nonIterable
			count: 1
			path: Classes/Domain/Renderer/HandlebarsFormRenderer.php

		-
			rawMessage: Cannot access offset 'SC_OPTIONS' on mixed.
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: Classes/Domain/Renderer/HandlebarsFormRenderer.php

		-
			rawMessage: Cannot access offset 'beforeRendering' on mixed.
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: Classes/Domain/Renderer/HandlebarsFormRenderer.php

		-
			rawMessage: Cannot access offset 'ext/form' on mixed.
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: Classes/Domain/Renderer/HandlebarsFormRenderer.php
