includes:
	- phar://phpstan.phar/conf/bleedingEdge.neon
	- phpstan-baseline.neon
parameters:
	level: max
	paths:
		- Classes
		- Configuration
		- Tests
	featureToggles:
		internalTag: false
	typo3:
		requestGetAttributeMapping:
			frontend.register.stack: TYPO3\CMS\Frontend\ContentObject\RegisterStack|null
